.graph-container {
    height: 30%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.graph {
    width: 70%;
    height: 100%;
}

.graph-options {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.graph-option {
    width: 50px;
    height: 50px;
}

.stats-row {
    height: 30%;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

.stats-box {
    width: 24%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
}

