/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    background-color: #4a90e2;
}

.combined-header {
    display: flex;
    background-color: #4a90e2;
}

.horizontal-header {
    display: flex;
    align-items: center;
    width: calc(100% - 80px); /* Adjust the width for the vertical header */
    height: 50px;
    padding: 10px;
}

.logo {
    padding: 5px;
}

.logo img {
    width: 280px;
    height: 56px;
}

.online-count {
    display: inline-block;
    background-color: #2d72b9;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    height: 43px;
}

.online-count p {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.online-count .count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    color: red;
}

.online-count .count.yellow {
    color: yellow;
}

.online-count .count.green {
    color: green;
}

.header-content {
    flex-grow: 1;
    color: white;
    text-align: center;
}

.settings-button {
    padding: 5px;
}

.settings-button button {
    background: none;
    border: none;
    cursor: pointer;
}

.vertical-header {
    background-color: #4a90e2;
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 5px 0;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%; /* Kästen auf die volle Breite des vertikalen Headers setzen */
}

.menu-item-box {
    background-color: #2d72b9;
    padding: 5px 46px;
    border-radius: 1px;
}

.menu-item-text {
    color: white;
    font-weight: bold;
}

.tabs {
    text-align: left;
    margin-bottom: 10px;
    padding-right: 46px;
    padding-left: 5px;
    padding-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;

    background-color: #2d72b9;
}

.session {
  font-size: 13px;
}

.session a {
    color: white;
    text-decoration: none; 
}

.slider-container {
    display: flex;

    font-size: 13px;
}

.timeinterval {
    margin-left: 5px;
    margin-bottom: 5px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.profile-button {
    padding: 3px 3px;
    margin: 0 3px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    font-size: 13px;
}

.profile-button.active {
    background-color: #00f0ff;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 100%;
    margin-right: 10px;
}

#sliderValue {
    width: 30px;
}

#sliderValue,
#slider {
    vertical-align: middle;
}

button[type="submit"] {
    margin-top: 10px;
}

.version {
    text-align: center;
    margin-bottom: 10px;
}

.kill-switch {
    background-color: red;
    color: white;
    border: none;
    margin-bottom: 80px;
    padding: 8px 40px;
    cursor: pointer;
}

.main-content {
    display: flex;
    margin-left: 185px;
    margin-right: 5px;
    margin-top: 5px;
    align-items: flex-start; /* Damit die Divs oben ausgerichtet werden */
    justify-content: space-between; /* Damit 5px Abstand zwischen den Divs ist */
}

.left-pane,
.right-pane {
    flex: 1;
    height: calc(100vh - 90px);
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-sizing: border-box;
}

.left-pane {
    margin-right: 3px;
}

.right-pane {
    margin-left: 2px;
}

.left-pane table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.left-pane th, .left-pane td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.left-pane th {
    background-color: #f2f2f2;
}

.left-pane tr:hover {
    background-color: #f5f5f5;
}

.status-online {
    color: green;
}

.status-offline {
    color: red;
}

.client-details-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Abstand zwischen Bild und Tabellen */
}

.client-image {
    order: -1; /* Das Bild wird nach oben verschoben */
}

.client-tables {
    display: flex;
    gap: 10px; /* Abstand zwischen den beiden Tabellen */
    flex-wrap: wrap; /* Zeilenumbruch, wenn nicht genügend Platz vorhanden ist */
}

.left-table,
.right-table {
    flex: 1; /* Die Tabellen nehmen gleich viel Platz ein */
    border-collapse: collapse;
    border: 1px solid #ccc; /* Rand um die Tabellen */
}

.left-table td,
.right-table td {
    padding: 3px;
    border: 1px solid #ccc; /* Zellenrand */
}

.right-table th {
    background-color: #f5f5f5;
    padding: 3px;
    border: 1px solid #ccc; /* Zellenrand */
}

.client-actions {
    display: flex;
    flex-direction: row; /* Anordnung der Buttons in einer Zeile */
    align-items: center; /* Vertikale Zentrierung der Buttons */
    gap: 3px;
}

.client-actions a {
    text-decoration: none; /* Entfernt die unterstrichene Text-Dekoration von Links */
}

.client-actions button {
    padding: 8px 16px; /* Innenabstand für die Buttons */
    background-color: #007bff; /* Hintergrundfarbe der Buttons (blau) */
    color: white; /* Textfarbe der Buttons (weiß) */
    border: none; /* Kein Rahmen um die Buttons */
    cursor: pointer; /* Zeigerzeiger auf den Buttons */
    transition: background-color 0.3s; /* Animierter Farbwechsel beim Hover-Effekt */
}

.client-actions button:hover {
    background-color: #0056b3; /* Hintergrundfarbe beim Hovern (dunkleres Blau) */
}

.interval-container {
    display: flex;
    flex-direction: row; /* Anordnung der Slider-Elemente in einer Zeile */
    align-items: center; /* Vertikale Zentrierung der Slider-Elemente */
    margin-left: 20px; /* Optional: Hinzufügen von Abstand zwischen Buttons und Slider */
}

/* Stile für den Slider */
#intervalSlider {
    width: 200px; /* Breite des Sliders */
}

#intervalValue {
    padding: 5px 10px;
}

#intervalValue,
#submitInterval {	
    margin: 5px;
}

.logs-container {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    .vertical-header {
        display: none;
    }
}